# Desafio da Semana 15 - Reprograma
<p>Professora Deborah Foroni</p>
<p>Aluna Cristiane Pereira</p>

## Introdução
Neste notebook preparamos um banco de dados da OCDE sobre a migração de profissionais de saúde, a fim de utilizá-lo no Tableau para gerar a visualização de 6 gráficos diferentes, conforme a seguir:  
1. Gráfico de barras em que expressa divisão força de trabalho nos 10 países com mais profissionais.  
2. Gráfico de barras com o topo 10 de países que mais recebem profissionais de saúde. 
3. Gráfico de barras com o topo 10 de países que mais enviam profissionais de saúde.  
4. Mapa com o volume de países que recebem profissionais de saúde.
5. Mapa com o volume de países que mais enviam profissionais de saúde.
6. Gráfico de linha com a imigração de médicos versus a imigração de enfermeiras ao longo do tempo.

In [2]:
import pandas as pd

In [3]:
df_country_origin = pd.read_csv('Foreign-trained doctors - Country of origin.csv') 
df_country_destination = pd.read_csv('Health Workforce Migration - Total OCDE Countries.csv')

In [4]:
#Verificando se há dados nulos
df_country_destination.isnull().sum()
df_country_origin.isnull().sum()

COU                      0
Country                  0
VAR                      0
Variable                 0
CO2                      0
Country of origin        0
YEA                      0
Year                     0
Value                    0
Flag Codes           32796
Flags                32796
dtype: int64

In [5]:
# Pensando em como criar a primeira visualização
df_country_origin.Variable.unique()

array(['Foreign-trained doctors - Stock'], dtype=object)

In [6]:
# Pensando em como criar a primeira visualização
df_country_destination.Variable.unique()

array(['Total number of doctors', 'Domestically-trained doctors',
       'Foreign-trained doctors - Stock',
       'Unknown place of training (doctors)',
       '% of foreign-trained doctors',
       'Foreign-trained doctors - Annual inflow',
       'Total number of nurses', 'Domestically-trained nurses',
       'Foreign-trained nurses - Stock',
       'Unknown place of training (nurses)',
       '% of foreign-trained nurses',
       'Foreign-trained nurses - Annual inflow',
       'of which native-born but foreign-trained (doctors)',
       'of which native-born but foreign-trained (nurses)'], dtype=object)

## Lógica
<p>A tabela já tem a porcentagem de profissionais de saúde estrangeiros, agora quero completar o dado para chegar a 100%. </p>
<p> Então, 100% dos profissionais de saúde = 'Foreign-trained doctors - Stock' + 'Domestically-trained doctors' + 'Domestically-trained nurses' + 'Foreign-trained nurses - Stock' + 'Unknown place of training (nurses)' + 'Unknown place of training (doctors)' </p>
<p> Vou dividir o gráfico de barras em: profissionais estrangeiros, profissionais nacionais, profissionais de origem desconhecida.</p>

In [7]:
df_destination_year_filter = df_country_destination[df_country_destination["Year"]==2022]
df_destination_year_filter

,COU,Country,VAR,Variable,CO2,Country of origin,YEA,Year,Value,Flag Codes,Flags
115,AUT,Austria,TNBD,Total number of doctors,TOT,Total,2022,2022,40957.00,NaN,NaN
128,AUT,Austria,DTRD,Domestically-trained doctors,TOT,Total,2022,2022,38023.00,NaN,NaN
141,AUT,Austria,FTDS,Foreign-trained doctors - Stock,TOT,Total,2022,2022,2934.00,NaN,NaN
154,AUT,Austria,SFTD,% of foreign-trained doctors,TOT,Total,2022,2022,7.16,NaN,NaN
167,AUT,Austria,IFTD,Foreign-trained doctors - Annual inflow,TOT,Total,2022,2022,253.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3575,LTU,Lithuania,UUUN,Unknown place of training (nurses),TOT,Total,2022,2022,97.00,NaN,NaN
3657,IRL,Ireland,UUUN,Unknown place of training (nurses),TOT,Total,2022,2022,5.00,NaN,NaN
3659,IRL,Ireland,DTRN,Domestically-trained nurses,TOT,Total,2022,2022,34533.00,NaN,NaN
3714,IRL,Ireland,FTNS,Foreign-trained nurses - Stock,TOT,Total,2022,2022,33270.00,NaN,NaN
3743,IRL,Ireland,NFTN,of which native-born but foreign-trained (nurses),TOT,Total,2022,2022,7851.00,NaN,NaN

In [15]:
df_health_professionals = df_destination_year_filter[(df_destination_year_filter["Variable"]=="Foreign-trained doctors - Stock") & (df_destination_year_filter["Variable"]=="Foreign-trained nurses - Stock") & (df_destination_year_filter["Variable"]=="Domestically-trained doctors") & (df_destination_year_filter["Variable"]=="Domestically-trained nurses") & (df_destination_year_filter["Variable"]=="Unknown place of training (doctors)") & (df_destination_year_filter["Variable"]=="Unknown place of training (nurses)")]

In [18]:
df_health_professionals

Empty DataFrame
Columns: [COU, Country, VAR, Variable, CO2, Country of origin, YEA, Year, Value, Flag Codes, Flags]
Index: []

In [17]:
df_health_professionals.to_csv("df_health_professionals.csv")