# Atividade semana 15

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("base_exercicio_s14_olist.csv")
df

,order_id,customer_id,order_status,reference_month,order_item_id,product_id,shipping_limit_date,price,customer_city,customer_state,payment_type,payment_installments,review_id,review_score,review_comment_message
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-01,1,87285b34884572647811a353c7ac498a,2017-10-06 11:07:15,29.99,sao paulo,SP,credit_card,1,a54f0611adc9ed256b57ede6b6eb5114,4,"Não testei o produto ainda, mas ele veio corre..."
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-01,1,87285b34884572647811a353c7ac498a,2017-10-06 11:07:15,29.99,sao paulo,SP,voucher,1,a54f0611adc9ed256b57ede6b6eb5114,4,"Não testei o produto ainda, mas ele veio corre..."
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-01,1,87285b34884572647811a353c7ac498a,2017-10-06 11:07:15,29.99,sao paulo,SP,voucher,1,a54f0611adc9ed256b57ede6b6eb5114,4,"Não testei o produto ainda, mas ele veio corre..."
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-01,1,595fac2a385ac33a80bd5114aec74eb8,2018-07-30 03:24:27,118.70,barreiras,BA,boleto,1,8d5266042046a06655c8db133d120ba5,4,Muito bom o produto.
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-01,1,aa4383b373c6aca5d8797843e5594415,2018-08-13 08:55:23,159.90,vianopolis,GO,credit_card,3,e73b67b67587f7644d5bd1a52deb1b01,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114854,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-01,1,f1d4ce8c6dd66c47bbaa8c6781c2a923,2018-02-12 13:10:37,174.90,praia grande,SP,credit_card,3,29bb71b2760d0f876dfa178a76bc4734,4,So uma peça que veio rachado mas tudo bem rs
114855,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-01,1,b80910977a37536adeddd63663f916ad,2017-09-05 15:04:16,205.99,nova vicosa,BA,credit_card,5,371579771219f6db2d830d50805977bb,5,Foi entregue antes do prazo.
114856,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-01,1,d1c427060a0f73f6b889a5c7c61f2ac4,2018-01-12 21:36:21,179.99,japuiba,RJ,credit_card,4,8ab6855b9fe9b812cd03a480a25058a1,2,Foi entregue somente 1. Quero saber do outro p...
114857,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-01,2,d1c427060a0f73f6b889a5c7c61f2ac4,2018-01-12 21:36:21,179.99,japuiba,RJ,credit_card,4,8ab6855b9fe9b812cd03a480a25058a1,2,Foi entregue somente 1. Quero saber do outro p...
114858,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-01,1,006619bbed68b000c8ba3f8725d5409e,2018-03-15 10:55:42,68.50,lapa,PR,debit_card,1,dc9c59b4688062c25758c2be4cafc523,5,NaN

Utilizei uma base tratada na atividade da semana 14.

### A 1º visualização mostra as vendas de 11 cidades da região metropolitana de Pernambuco.
Recife com um número 4x maior que a cidade seguinte Jaboatão dos Guararapes, como podemos ver no gráfico a baixo.

![](imagens/grafico1.jpg)


### Na 2ª visualização temos um ranking de vendas por ano em 3 cidades (Recife, Olinda e Paulista) de Pernambuco.
Neste gráfico podemos perceber que as vendas na capital começou em 2016, poucas vendas em relação aos anos seguintes, mas nas outras cidades só começaram no ano seguinte.

![](imagens/grafico2.jpg)


### Na 3ª visualização vemos o tipo de pagamento mais utilizado nas compras nas mesmas 3 cidades.
O tipo de pagamento mais utilizado é o cartão de crédito nas 3 cidades.

![](imagens/grafico3.jpg)


### A 4ª visualização mostra a quantidade de avaliações após as compras(estrelas no app/site).
Percebemos que o serviço é pouco avaliado de acordo a quantidade de vendas, embora o Recife tenha vendido 451 vezes em 2016, a empresa só teve 16 avaliações sobre suas vendas.

![](imagens/grafico4.jpg)



## Dashboard publicado.

![](imagens/Painel%201.png)